<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>

    <%- include('../layout/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../layout/header.ejs') %>
    </header>
    <main>
        <h1 id="aboutUsHeading">About us </h1>
        <div class='bigcontainer'>
            <div class='container2'>
                <img src="/images/yazan.jpg" alt="" srcset="" class="personalimg">
                <h3>Yazan Alshekha</h3>
                <section class='Appearing'>
                    <p>0-1 Full Stack Developer with JavaScript, good knowledge with c# windows application and .net With good Background in computer networks and image processing
                    </p>
                    <a href="https://www.linkedin.com/in/yazan-alshekha-b41b541a8/"><img src="/images/linkedin.png" class="icons"></a>
                    <a href="https://github.com/yazan-alshekha"> <img src="/images/github-image.png" class="icons"></a>
                    <a href="mailto:yazan.alshekha@outlook.com"> <img src="/images/email.png" class="icons"></a>
                </section>
            </div>
            <div class='container2'>
                <img src="/images/emad.png" alt="" srcset="" class="personalimg">
                <h3>Emad Alzoubi </h3>
                <section class="Appearing">
                    <p>Full Web Stack Developer, with good knowledge at PHP & huge computer since love to more learn..</p>
                    <a href="https://www.linkedin.com/in/emad-alzoubi/"><img src="/images/linkedin.png" class="icons"></a>
                    <a href="https://github.com/3madov-77"> <img src="/images/github-image.png" class="icons"></a>
                    <a href=""> <img src="/images/email.png" class="icons"></a>
                </section>
            </div>
            <div class='container2'>
                <img src="/images/ahmad.jpeg" alt="" srcset="" class="personalimg">
                <h3>Ahmad Kheder</h3>
                <section class="Appearing">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptates perferendis ducimus tempora, suscipit adipisci debitis explicabo totam esse ipsum necessitatibus non quidem, nostrum porro sequi sunt illum nemo? Est?</p>
                    <a href="https://www.linkedin.com/in/ahmad-abdulatef-121066181"><img src="/images/linkedin.png" class="icons"></a>
                    <a href="https://github.com/AhmadKheder"> <img src="/images/github-image.png" class="icons"></a>
                    <a href="mailto=ahmadkhederabdulatef@outlook.com"> <img src="/images/email.png" class="icons"></a>
                </section>
            </div>

            <div class='container2'>
                <img src="/images/abdulelah_kassara.jpg" alt="" srcset="" class="personalimg">
                <h3>Abdulelah Kassara </h3>
                <section class="Appearing">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptates perferendis ducimus tempora, suscipit adipisci debitis explicabo totam esse ipsum necessitatibus non quidem, nostrum porro sequi sunt illum nemo? Est?</p>
                    <a href="https://www.linkedin.com/in/abdulelahkassara/"><img src="/images/linkedin.png" class="icons"></a>
                    <a href="https://github.com/abdulelahxd"> <img src="/images/github-image.png" class="icons"></a>
                    <a href="mailto:abdulelahkassara@gmail.com"> <img src="/images/email.png" class="icons"></a>
                </section>

            </div>

        </div>

        <div class='bigcontainer'>

        </div>



    </main>
    <footer>
        <%- include('../layout/footer.ejs') %>
    </footer>





</body>

</html>