<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Profile uploads</title>
  </head>
  <body>
    <button id="hireBtn">Hire me</button>













    <div class="container">
      <h1>File Upload</h1>
      <%= typeof msg != 'undefined' ? msg : '' %>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn grey">
            <span>File</span>
            <input name="myImage" type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
      <br>
      <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
    </div>

















</div>
    <form action="/publish" method="post" id="toggleForm">
      <div class="grid-65">
                <span class="photo" title="Upload your Avatar!" ></span>
                <input type="file" class="btn" name="Pic" />
              </div>
      <label for="">Full Name</label>
      <input type="text" name="fullname" />
      <label for="">specialist in: </label>
      <input type="text" name="specialistIn" />
      <!-- <input type="text"  /> -->
      <label for="">LinkedIn </label>
      <input type="text" name="linkedIn" />
      <label for="">GitHub </label>
      <input type="text" name="github" />
      <label for="">Instagram </label>
      <input type="text" name="instagram" />
      <label for="">Bio</label>
      <textarea name="bio" id="" cols="30" rows="5"></textarea>
      <button>Submit</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
