<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Quizzat</title>
</head>

<body>
    <header>

    </header>
    <main>
        <div>
            <img src="/resourse/test-img.jpg" style="border-radius: 50%;">
        </div>
        <div> <!-- main-details: name, email, password -->
            <h2>Main Details:</h2>
            <!-- <h3> <= userDetails.name > </h3>
                <h4> <= userDetils.email > </h4>
                <h4> <= userDetils.password > </h4> -->
        </div>
        <div> <!-- more-details: gender, spelize, education, bio  -->
            <h2>More Details:</h2>
            <!-- <h4> <= userDetils.gender > </h4> 
                <h4> <= userDetils.education > </h4>
                <h4> <= userDetils.major > </h4>
                <textarea rows="10" cols="25"> <= userDetils.bio > </textarea> -->
        </div>
        <div> <!-- certifcates -->
            <!-- < userDetils.cretrifcates.forEach(item=>{ >
                <div>
                 <h5> <= item.name> </h5>   quiz name
                 <h3> <= item.mark> </h3>  quiz mark 
                 <p> <= item.desc> </p>  mark describtion 
                </div>
            }) -->    
        </div>

        <div> <!-- Contact Me -->
            <h2>Contact Me:</h2>
            <!-- <h4> <= userDetils.twitar > </h4>
                <h4> <= userDetils.gitHub > </h4>
                <h4> <= userDetils.linkedIn > </h4> -->
        </div>
            <!-- < if(isUser.user_name == userDetails.name && isUser.user_email == userDetils.email){ >
            <button>Update My Info</button>
            

                <form action="/update/<= userDetils.id >?_method=put" method="post">

                <label for="">Name:<input type="text" name="name" value="<= userDetils.name >"></label>
                <label for="">password:<input type="text" name="password" value="<= userDetils.password >"></label>
                <label for="">Major:<input type="text" name="major" value="<= userDetils.major >"></label>
                <label for="">Bio:<input type="text" name="bio" value="<= userDetils.bio >"></label>
                <label for="">Education:<input type="text" name="education" value="<= userDetils.education >"></label>

                <button type="submit">Save</button>
        
                </form> 
            
            <button>Update My HireMe Post</button>

                <form action="/update/<= userDetils.id >?_method=put" method="post">

                <label for="">Describion:<input type="text" name="description" value="<= userDetils.desc >"></label>
                <label for="">Twitar:<input type="text" name="twitar" value="<= userDetils.twitar >"></label>
                <label for="">GitHub:<input type="text" name="gitHub" value="<= userDetils.gitHub >"></label>
                <label for="">LinkedIn:<input type="text" name="linkedIn" value="<= userDetils.linkedIn >"></label>

                <button type="submit">Save</button>
        
                </form>
            <button>Delete My Profile</button>
            <  } > -->
    </main>
    <script src="/javascript/app.js"></script>
</body>
</html>