<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzat</title>
</head>

<body>
    <header>

    </header>
    <main>
        <form action="/quizzes" method="get">
            <input type="text" name="quizzeTag">
            <button>Submit</button>
        </form>

    </main>
</body>
</html>