<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coursat</title>
</head>

<body>
    <header>

    </header>
    
    <main>

            <% if(trueA >= 4){ %>
                <script>
                    alert(`you made <%= trueA %> correct answers, well done!! :]`);
                </script>
           <% }else{ %>
                <script>
                    alert(`you even dont deserve alert!! -_-`);
                </script>
           <% } %>

    </main>
</body>
</html>