<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Sign in</title>
    <%- include('../layout/head.ejs') %>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <header>
        <%- include('../layout/header.ejs') %>
    </header>
    <main>

        <div class="tb-content elementor-page">
            <section>
                <div class="container">
                    <div class="user signinBx">
                        <div class="imgBx"><img src="images/pic4.jpg" alt=""> </div>
                        <div class="formBx">
                            <form action="/signin" id="SIForm" method="post">
                                <h2>Sign in</h2>
                                <input type="text" name="user_name" placeholder="User Name" required>
                                <input type="password" name="password" placeholder="Password" required>
                                <input type="submit" value="Login">
                                <p class="signup">dont have an account?<a href="#" onclick="toggleForm()">Sign Up</a>
                                </p>
                            </form>
                        </div>
                    </div>

                    <div class="user signupBx">
                        <div class="formBx">
                            <form action="/signup" id="SUForm" method="post">
                                <h2>Create an Account</h2>
                                <input type="text" name="user_name" placeholder="User Name" required>
                                <input type="email" name="email" placeholder="Email" required>
                                <input type="password" name="password" placeholder="Password" required>
                                <input type="password" placeholder="Confairm Password" required>
                                <input type="submit" value="Sign Up">
                                <p class="signup">Already have an account?<a href="#" onclick="toggleForm()">Sign In</a>
                                </p>
                            </form>
                        </div>
                        <div class="imgBx"><img src="images/pic3.jpg" alt=""> </div>
                    </div>
            </section>

            <script>
                function toggleForm() {
                    let container = document.querySelector('.container');
                    container.classList.toggle('active')
                }
            </script>
        <div id="hight">

        </div>
        </div>
        </div>
       
    </main>
    <footer>
        <%- include('../layout/footer.ejs') %>
    </footer>
</body>

</html>