<section class="navbar-nav">
    <div id="navbar">
        <h1><a href="index.html">Jobs Space</a></h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="/work">Jobs</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="">Hire Me</a></li>
            <li><a href="">My profile</a></li>
            <button>Login</button>
            <button>Sign up</button>
            <button>Sign out</button>
        </ul>
    </div>
</section>