<meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jobs Space</title>
    <link rel="stylesheet"
        href="http://webify-13e95.kxcdn.com/demo/webify/creative/wp-content/cache/min/8/9873429b294b9b91e29009a6a249a006.css"
        data-minify="1" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home - Creative" />
    <meta property="og:description"
        content="Build it Beautiful. &amp; Unparalleled. Webify is the all-in-one WordPress theme to builda beautiful online presence for you. Take 1-min Tour weekend Super Creative Digital transformation describes an organisation making a fundamental change from its current state. Learn More timer Avant Garde We can change the way your business thinks and behaves long-term in order [&hellip;]" />
    <meta property="og:url" content="http://themebubble.com/demo/webify/creative/" />
    <meta property="og:site_name" content="Creative" />
    <meta property="article:modified_time" content="2020-02-24T05:13:34+00:00" />
    <meta property="og:image"
        content="http://themebubble.com/demo/webify/creative/wp-content/uploads/sites/8/2019/04/client4.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//cdn.jsdelivr.net' />
    <link rel='dns-prefetch' href='//webify-13e95.kxcdn.com' />
    <link rel="alternate" type="application/rss+xml" title="Creative &raquo; Feed"
        href="http://themebubble.com/demo/webify/creative/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Creative &raquo; Comments Feed"
        href="http://themebubble.com/demo/webify/creative/comments/feed/" />
    <link rel='stylesheet' id='webify-fonts-css'
        href='https://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C500%2C700&#038;subset=latin%2Clatin-ext&#038;ver=1.0.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='webify-font-awesome-css'
        href='http://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css?ver=1.0.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='webify-font-awesome-v4-css'
        href='http://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/v4-shims.min.css?ver=1.0.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='material-icon-css'
        href='https://fonts.googleapis.com/icon?family=Material+Icons%7CMaterial+Icons+Outlined&#038;ver=1.0.0'
        type='text/css' media='all' />
    <script type='text/javascript'
        src='http://webify-13e95.kxcdn.com/demo/webify/creative/wp-content/cache/busting/8/demo/webify/creative/wp-includes/js/jquery/jquery-1.12.4-wp.js'></script>
    <link rel='https://api.w.org/' href='http://themebubble.com/demo/webify/creative/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD"
        href="http://themebubble.com/demo/webify/creative/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
        href="http://themebubble.com/demo/webify/creative/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.4.2" />
    <link rel='shortlink' href='http://themebubble.com/demo/webify/creative/' />
    <link rel="alternate" type="application/json+oembed"
        href="http://themebubble.com/demo/webify/creative/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fthemebubble.com%2Fdemo%2Fwebify%2Fcreative%2F" />
    <link rel="alternate" type="text/xml+oembed"
        href="http://themebubble.com/demo/webify/creative/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fthemebubble.com%2Fdemo%2Fwebify%2Fcreative%2F&#038;format=xml" />
    </noscript>
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/modules.css">